.loader {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loader::after {
  content: "";
  background-color: transparent;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border-top: 5px solid var(--brand-color-1);
  animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
  10% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* box-shadow: offset-x offset-y blur-radius spread-radius color inset; */

.fullScreen {
  height: 100dvh;
}
