.profileMenu {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  border-radius: 5px;
  align-items: center;
}

.profileMenu li,
.profileMenu li a {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.delete {
  margin-top: 3.5rem;
  color: red;
  border-bottom: none !important;
}
