.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  gap: 1rem;
  width: 100%;
  background-color: rgb(37, 37, 37);

  padding: 2rem;
}

.form input {
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid blueviolet;
  width: 100%;
}

.header {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  align-self: self-start;
}

.submit {
  padding: 1rem 4rem;
  align-self: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: blueviolet;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  text-transform: capitalize;
}
