.form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 0.7rem;
}

.form input {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}

.header {
  text-transform: capitalize;
}

.submit {
  padding: 1rem 4rem;
  align-self: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: blueviolet;
  text-align: center;
  color: #fff;
}
