.listItem {
  max-width: 50rem;
  background-color: var(--background-elevation-three);
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 5rem;
  border-left: 1px solid var(--brand-color-1);
  padding: 0.5rem 0 0.5rem 5rem;
}

.categoryMenu {
  margin-right: 1rem;
  flex-shrink: 0;
}

.categoryName {
  position: relative;
  text-transform: capitalize;
  flex-grow: 0;
  line-height: 1;
}
