.categoryItemsList {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  border-radius: 5px;
  max-width: 100%;
  height: 100%;
  overflow: scroll;
}

.categoryItemsList li {
  flex-shrink: 0;

  padding-left: 2rem;
  box-shadow: -6px 0 10px 1px rgba(137, 43, 226, 0.2);
  width: 100%;
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 4px;
  overflow: hidden;
  height: 9rem;
  border-left: 0.5px solid blueviolet;
  cursor: pointer;
}

.categoryItemsList h3 {
  padding-top: 2px;
  font-size: 1.4rem;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.categoryItemsList p {
  font-weight: 200;
}

.itemImg {
  width: 80px;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.9);
}

.itemPrice {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.goToTop {
  justify-self: center;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  background-color: blueviolet;
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.itemDescription {
  font-style: italic;
  font-weight: 300;
}
