.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3rem;
}

.header {
  font-size: 2rem;
  /* border-bottom: 0.5px solid blueviolet; */
}

.addIcon {
  background-color: rgb(118, 38, 193);
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.plusIcon {
  color: #fff;
  font-size: 2rem;
  stroke-width: 2px;
}
