.container {
  z-index: 100;
  position: fixed;
  /* top: 0;
  bottom: 0; */
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 0.1px solid blueviolet;

  height: 130px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 10px;

  animation: 0.3s show ease-in-out;
}

.container button {
  color: #fff;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
