.menuFooter {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.1rem;
}

.menuLogo {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--brand-color-1);
  padding-left: 2px;
  border-bottom: 1px solid var(--brand-color-1);
  text-shadow: 2px 2px 4px var(--shadow-subtle-text);
}

.footerDisclaimer {
  padding-bottom: 10px;
  text-decoration: underline;
  cursor: pointer;
}
