@import "./MenusCommon.module.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* MENU ITEMS */
.container,
.menu,
.content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25)),
    url("https://images.unsplash.com/photo-1615800098779-1be32e60cca3?q=80&w=1910&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  color: rgba(0, 0, 0, 0.8);
}

.locationName {
  font-family: "Quicksand", serif;
  font-weight: 400;
  font-size: 3.2rem;
  letter-spacing: 2px;
  line-height: 1.1;
}

.menuDetails li {
  font-weight: 500;
  font-style: italic;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.8);
}

/* MENU INDIVIDUAL ITEMS CATEGORY */
.backIcon {
  stroke: rgba(0, 0, 0, 0.8);
}

.menuList li {
  box-shadow:
    inset 3px 3px 5px 0px rgba(0, 0, 0, 0.07),
    3px 3px 7px 0px rgba(255, 255, 255, 0.2);
  transition: all 0.3;
  font-weight: 500;
}

.itemPrice {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.4rem;
}

.menuList li:hover {
  box-shadow:
    inset 5px 5px 5px 0px rgba(0, 0, 0, 0.1),
    4px 4px 7px 0px rgba(255, 255, 255, 0.4);
}

/* CATEGORY INDIVIDUAL ITEM */

.categoryItemsList {
  background-color: transparent;
}

.categoryItemsList li {
  background-color: transparent;
  box-shadow:
    inset 4px 4px 4px 0px rgba(0, 0, 0, 0.07),
    4px 4px 4px 0px rgba(255, 255, 255, 0.2);
}
.itemDescription {
  color: red !important;
}
/* MODAL STYLES */

/* .content {
  background-color: #fff;
} */

.close {
  padding-bottom: 2rem;
  align-self: flex-end;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.closeIcon {
  color: var(--app-background-color);
}

/* POP UP ITEM STYLES */
.itemViewContainer {
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.1);
}

/* INFO DETAILS */

.infoContainer p {
  color: rgba(0, 0, 0, 0.7);
}
.infoIcon {
  color: rgba(0, 0, 0, 0.7);
}
.socialButton {
  border: 0.2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.07);
  background-color: transparent;
}
