.menu {
  display: grid;
  grid-template-rows: 25% 20% 1fr auto;
  height: 100dvh;
  gap: 2rem;
  position: relative;
}

.menuHeader {
  /* background-image: url("https://images.unsplash.com/photo-1595187139760-5cedf9ab5850?q=80&w=1831&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
  padding-top: 2rem;
}

.locationName {
  font-size: 3rem;
  opacity: 90%;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.menuInfo {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  cursor: pointer;
  position: relative;
}

.menuDescription {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.menuDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3px;
}

.menuDetails li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-style: italic;
}

/* MENU ITEMS */
.container {
  padding: 2rem;
  display: grid;
  grid-template-rows: 10% 1fr auto;
  height: 100dvh;
}

.backButton {
  cursor: pointer;
}

/* MENU INDIVIDUAL ITEMS CATEGORY */
.menuList {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  overflow-y: scroll;
  padding-bottom: 2rem !important;
  border-radius: 5px;
  flex: content;
  overflow-y: scroll;
  scrollbar-color: var(--brand-color-1) rgba(255, 255, 255, 0.281);
}

.menuList li {
  margin-top: 1rem;
  min-height: 4.2rem;
  max-height: 8rem;
  max-width: 40rem;
  width: 70%;
  padding: 0.8rem 0.6rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.8rem;
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 1;
}
.menuList li a {
  width: 100%;
}

/* CATEGORY INDIVIDUAL ITEM */

.categoryItemsList {
  background-color: var(--background-elevation-one);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  border-radius: 5px;
  max-width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: var(--brand-color-1) rgba(255, 255, 255, 0.281);
}

.categoryItemsList li {
  flex-shrink: 0;
  padding-left: 2rem;
  width: 100%;
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  background-color: var(--background-elevation-three);
  border-radius: 4px;
  overflow: hidden;
  height: 9rem;
  cursor: pointer;
}

.categoryItemsList h3 {
  padding-top: 2px;
  font-size: 1.4rem;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.categoryItemsList p {
  font-weight: 200;
}

.itemImg {
  width: 80px;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.9);
}

.itemPrice {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.itemDescription {
  font-style: italic;
  font-weight: 300;
}

/* MODAL WINDOW STYLES */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1816161a;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: 3rem;
  padding-top: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 6rem;
  align-items: center;
  height: 70%;
  width: 100%;
  position: fixed;
  bottom: 0;
  transform: translateY(1000px);
  animation: 0.7s entry ease-out forwards;
  z-index: 50;
  overflow-y: scroll;
  padding-bottom: 10rem;
}

@keyframes entry {
  0% {
    transform: translateY(1000px);
  }

  100% {
    transform: translateY(0);
  }
}

.close {
  padding-bottom: 2rem;
  align-self: flex-end;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* POP UP ITEM STYLES */
.itemViewContainer {
  width: 100%;
  height: auto;
  display: flex;
  gap: 2rem;
  border-radius: 5px;
  overflow: hidden;
  min-width: 30rem;
}

.itemViewImage {
  height: 200px;
  width: 40%;
  object-fit: cover;
}

.itemViewContainer h3 {
  text-transform: capitalize;
  font-size: 1.6rem;
}

.itemViewContainer div {
  padding-top: 4rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.itemViewDescription {
  font-style: italic;
  margin-bottom: auto;
  margin-top: 3px;
}

.itemViewPrice {
  align-self: flex-end;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

/* FOOTER */
.disclaimer {
  font-size: 1.4rem;
  line-height: 1.5;
  max-width: 30rem;
}

/* POP UP DETAILS */
.popUpDetailsContainer {
  width: 100%;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.6rem;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.infoDescription {
  margin-bottom: 3rem;
}

.infoIcon {
  color: var(--text-color-primary);
  font-size: 2rem;
  stroke-width: 0.7px;
}
.socialButton {
  width: 12rem;
  margin: 0 auto;
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 4px 6px;
  text-align: center;
  display: block;
  font-weight: 500;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
