@import "./MenusCommon.module.css";

.menu {
  background-image: url("https://images.unsplash.com/photo-1615800098779-1be32e60cca3?q=80&w=1910&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  color: #000;
}

/* MENU ITEMS */
.container {
  background-image: url("https://images.unsplash.com/photo-1615800098779-1be32e60cca3?q=80&w=1910&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  color: #000;
}

/* MENU INDIVIDUAL ITEMS CATEGORY */
.backIcon {
  stroke: black;
}

.menuList li {
  box-shadow:
    inset 3px 3px 5px 0px rgba(0, 0, 0, 0.1),
    3px 3px 7px 0px rgba(255, 255, 255, 0.4);
  transition: all 0.3;
}

.menuList li:hover {
  box-shadow:
    inset 5px 5px 5px 0px rgba(0, 0, 0, 0.15),
    4px 4px 7px 0px rgba(255, 255, 255, 0.5);
}

/* CATEGORY INDIVIDUAL ITEM */

.categoryItemsList {
  background-color: transparent;
}

.categoryItemsList li {
  background-color: transparent;
  box-shadow:
    inset 4px 4px 4px 0px rgba(0, 0, 0, 0.1),
    4px 4px 4px 0px rgba(255, 255, 255, 0.4);
}

/* MODAL STYLES */

.content {
  background-color: #fff;
}

.close {
  padding-bottom: 2rem;
  align-self: flex-end;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.closeIcon {
  color: var(--app-background-color);
}

/* POP UP ITEM STYLES */
.itemViewContainer {
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.1);
}
