@import "./MenusCommon.module.css";

.menuHeader {
  filter: brightness(0.9);
}
.menuDetails li {
  color: var(--brand-color-1);
}

.menuDetails li span {
  font-weight: 700;
  border-bottom: 0.5px solid var(--brand-color-1);
  text-shadow: 2px 2px 5px var(--shadow-subtle-text);
}
/* MENU INDIVIDUAL ITEMS CATEGORY */

.menuList li {
  background-color: var(--background-elevation-three);
  border-left: 0.3px solid var(--brand-color-1);
}

.menuList li:hover {
  animation: 0.1s glow ease-in-out forwards;
}

@keyframes glow {
  0% {
  }
  100% {
    box-shadow:
      -3px 0px 4px 0px var(--shadow-subtle),
      -4px 0px 8px 0px var(--shadow-subtle);
  }
}

/* CATEGORY INDIVIDUAL ITEM */

.backIcon {
  stroke: rgba(255, 255, 255, 0.87);
}

.categoryItemsList li {
  box-shadow: -6px 0 10px 1px var(--shadow-subtle);
  border-left: 0.5px solid var(--brand-color-1);
}

/* MODAL WINDOW STYLES */

.content {
  background-color: var(--background-elevation-one);
}

.closeIcon {
  color: var(--text-color-main);
}

/* POP UP ITEM STYLES */
.itemViewContainer {
  background-color: var(--background-elevation-six);
  box-shadow: 4px 4px 8px 0px var(--shadow-subtle);
}

/* info details */

.infoDescription {
  color: var(--text-color-secondary);
}

.infoContainer p {
  color: var(--text-color-secondary);
}

.infoIcon {
  color: var(--text-color-main);
}
.socialButton {
  background-color: var(--brand-color-1);
  color: var(--text-color-primary);
}
