.menu {
  display: grid;
  grid-template-rows: 25% 20% 1fr auto;
  height: 100dvh;
  gap: 2rem;
}

.menuHeader {
  background-image: url("https://images.unsplash.com/photo-1595187139760-5cedf9ab5850?q=80&w=1831&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
  padding-top: 2rem;
}

.locationName {
  font-size: 5rem;
  opacity: 90%;
  margin-bottom: 2px;
}

.menuInfo {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.menuDescription {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.menuDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3px;
}

.menuDetails li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.menuList {
}
