.container {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.outlet {
  padding: 6rem;
  padding-top: 2rem;
  min-height: 100%;
  background-color: var(--background-elevation-one);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow-y: scroll;
  scrollbar-color: var(--brand-color-1) rgba(255, 255, 255, 0.281);
  scrollbar-width: thin;
}
