@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --brand-color-1: rgb(115, 42, 184);
  --brand-color-2: rgb(115, 42, 184, 0.6);
  --app-background-color: #121212;
  --background-elevation-one: #1e1e1e;
  --background-elevation-one-login: rgba(30, 30, 30, 0.4);
  --background-elevation-two: #222222;
  --background-elevation-three: #242424;
  --background-elevation-six: #2c2c2c;

  /* border radius */
  --border-radius-button: 5px;

  /* text */
  --text-color-main: rgba(255, 255, 255, 0.87);
  --text-color-secondary: rgba(255, 255, 255, 0.7);

  /* SHADOW */
  --shadow-header: rgba(115, 42, 184, 0.6);
  --shadow-subtle: rgba(115, 42, 184, 0.2);
  --shadow-subtle-text: rgba(115, 42, 184, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text-color-main);
  background-color: var(--app-background-color);
  font-family: "Raleway", sans-serif;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--brand-color-1);
  box-shadow: 0px 0px 8px 0px var(--shadow-header);
}
