.error {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.error p {
  background-color: transparent;
  padding: 5px 20px;
  border: 1px solid var(--brand-color-2);
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fullScreen {
  height: 100dvh;
  align-items: center;
}
